$primary: #CD0404;
$secondary: #fff;

$header-font : "GFS Didot", serif; // A variable in SCSS is created using $. This variable is gonna be used as the font-family of all headers(h1-h6)
$paragraph-font: 'Roboto', sans-serif;
$small-font: 'Playfair Display', serif;
